<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Safe app</name>
    <description>
        A coworking booking prototype app.
    </description>
    <author email="Kinfemichaelalemu@gmail.com" href="https://www.linkedin.com/in/kinfemichael-alemu-desse-857b7670/">
        THD-MMCPS-Group Project
    </author>
    <content src="login.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
     <icon src="/www/img/co-working.jpg" width="300" height="300" density = "mdpi"/>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
