		
body {
	background: #d4dddd;
}

.contents {
	width: fit-content;
    background: white;
    /* height: 600px; */
    border-radius: 25px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: max-content;	
    padding-right: 10px;

}

.table {
	width: 96%;
    background: #f2f2f2;
    border-radius: 25px;
   margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-family: Arial Helvetica sans-serif;
    padding-right: 10px;
}

#cancel {

  width: max-content;
    font-size: 20px;
    height: 60px;
    padding: 15px 25px;
    border-radius: 25px;
    /* margin-left: 20px; */
    /* margin-top: 200px; */
    background: #e64646;
    color: white;
    /* float: right; */
    margin-right: 20px;
    /* position: fixed; */
    /* margin-left: 38%; */
    bottom: 25px;
    margin-top: 20px;
    margin-left: 70%;
    padding-bottom: 15px;
    font-family: Arial sans-serif;

}



#cancel:hover {
	background: #b90101;
}

#back {
    
     margin-top: 10px;
    border-radius: 25px;
    font-size: 20px;
    /* width: 250px; */
    background: white;
    border: none;
    padding: 5px;
    margin-left: 20px;
 }
 .title {
 	margin-bottom: 40px;
    font-size: 20px;
    padding: 10px 20px;
    padding-bottom: 20px;
 }

 .title th {

 	background: #d6d6d6;
 	padding:  10px 20px;
 	margin-right: 5px;
 	left: 0%;
 }

 tr{
 	
 	background: #dfe2e5;
    padding: 20px;
    font-size: 17px;
    font-family: Arial Helvetica sans-serif;
 }

